.medium_text{
    font-size: medium;
}

.introduction{
    font-size: medium;
    padding-top: 20px;
    padding-bottom: 20px;
}

.indent{
    text-indent: 20px;
}

body{
    background-color: rgb(250, 249, 246);
}

/*~~~~~ WORK EXPERIENCE ~~~~~*/

.company_name{
    font-size: x-large;
    font-weight: bolder;
}

.job_description{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
}

.work_figure{
    position: relative;
    top:-70px;
    float:right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.work_photo{
border-radius: 25px;
border: 4px solid;
}

/*~~~~~ EDUCATION ~~~~~*/

.school_name{
    font-size: xx-large;
    font-weight: bolder;
}

.subject_desc{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
}

.school_figure{
    position: relative;
    top:-65px;
    float:right;
    padding-left: 30px;
}

.school_photo{
    border: 4px solid;
    border-radius: 15px 50px;
}

/*~~~~~ COMPUTING ~~~~~*/
.module_name{
    font-size: x-large;
    font-weight: bolder;
}

.module_description{
    padding: 10px;
    font-size: medium;
}

/*~~~~~ CODE EXAMPLES ~~~~~*/

.function_description{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: medium;
}

/*~~~~~~ INDEX ~~~~~*/

.about_me_box{

    border: 2px solid;
    border-radius: 50px;
    padding: 10px;
    background-color:snow;
    font-size: large;
    padding-bottom: 30px;

}

#profile_pic{
    max-width: 250px;
    max-height: 350px;
    border: 2px solid;
    border-radius: 25px;
    position: relative;
    top:-70px;
    right: -20px;
    float:right;
}

#index_title{
    text-align: center;
    font-size: 8em;
}

.index_intro{
    text-align: center;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 60px;
}

.about_me{
    padding: 10px;
}

.tagline{
    text-align: center;
}

.image_box{
    text-align: center;
}

.get_in_touch_box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.get_in_touch_title{
    text-align: center;
    display: block;
}

.languages{
    display: inline-block;
    max-width: 200px;
    max-height: 100px;
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;

}

.social_media_box{
    text-align: center;
    margin-left: 6em;
}

.social_media_logo{
    display: inline-block;
    max-width: 75px;
    max-height: 50px;
    width: auto;
    height: auto;
    margin-right: 2em;
    margin-bottom: 5em;
}