
{% extends "layout.html" %}

{% block app_content %}

    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}" alt = "Profile picture"></td>
            <td>
                <h1>{{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                
                <!-- Code to display when a user was last seen online
                     Taken from The Flask Mega Tutorial by Miguel Grinberg
                     Accessed on 18/01/2023
                     https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-vi-profile-page-and-avatars
                -->
                {% if user.last_seen %}<p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
                <!--End of referenced code-->
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% endif %}
            </td>
        </tr>
    </table>

    <hr>
    <h2>Comment history</h2>

    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

{% endblock %}